.gradle/
build/
gradle-app.setting

.classpath
.project
.settings/

.idea/
*.iml
out/
*.ipr
*.iws

.DS_Store
Thumbs.db

*.class

*.jar
*.war

*.log
*.tmp
*.pid
*.swp

*.sublime-workspace
*.sublime-project

**/.gradle
**/build

.idea/workspace.xml
.idea/libraries
.idea/tasks
.idea/modules.xml
.idea/.name
.idea/misc.xml
.idea/dictionaries
.idea/gradle.xml
.idea/assetWizardSettings.xml

.idea_modules/
/.kotlin/
